<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<h1>Edit book</h1>

<form th:object="${book}" th:action="@{../savebook}" action="#" method="post">

<input type="hidden" th:field="*{id}">
Author
<input type="text" th:field="*{author}"><br><br>
Title
<input type="text" th:field="*{title}"><br><br>
ISBN
<input type="text" th:field="*{isbn}"><br><br>
Year
<input type="number" th:field="*{year}"><br><br>

<input type="submit" value="Save">

</form>

</body>
</html>